<%+header%>

<div class="cbi-map">
    <h2 name="content"><%:R619AC Personal OS%></h2>

    <div class="cbi-section">
        <div class="cbi-section-descr">
            <%:R619AC V0.6 management interface%>
        </div>

        <table class="table">
            <tr>
                <td><%:Device%></td>
                <td>竞斗云 R619AC 128M</td>
            </tr>
            <tr>
                <td><%:Firmware%></td>
                <td>R619AC Personal OS V0.6</td>
            </tr>
            <tr>
                <td><%:Proxy engines%></td>
                <td>HomeProxy / sing-box + Nikki / Mihomo</td>
            </tr>
            <tr>
                <td><%:Monitoring%></td>
                <td>Nezha Agent</td>
            </tr>
        </table>
    </div>
</div>

<%+footer%>
